.appBar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 50px;
  z-index: 3;
  padding: 0 6px;
  transition: width 150ms;
}

.appBarTransparent {
  background-color: rgba(20, 38, 56, 0)
}

.baseElement {
  padding: 6px 12px;
  border-radius: 3px;
  margin: auto 0;
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.children {
  composes: baseElement;
  flex: 1;
  justify-content: flex-end;
}

.logo {
  composes: baseElement;
  cursor: pointer;
}

.logo:hover {
  color: white;
}

.icon {
  display: inline-block;
}

.title {
  margin: 0 0 0 6px;
}
