.comicViewer {
  text-align: center;
  padding: 10px 0;
}

.img {
  margin: 15px 5px;
  border-radius: 8px;
  max-width: 100%;
}

.title {
  color: var(--main-color);
  font-size: 40px;
  margin: 40px 0 20px 0;
  height: auto;
}

.comics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 500px) {
  .img {
    width: 100%;
  }

  .title {
    font-size: 22px;
  }
}

.episodeButton {
  color: rgba(213, 213, 213, 0.8);
}

.statusPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-color);
  font-size: 20px;
}
