.comicList {
  display: flex;
  justify-content: center;
  padding: 60px auto 3px auto;
}

.comicListInner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 10px 10px 10px;
}
