.container {
  width: 100%;
}

.comicList {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 60px auto 10px auto;
}

.comicListInner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 10px 10px 10px;
}

.statusPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-color);
  font-size: 20px;
}
