.appBar {
  display: flex;
  position: fixed;
  top: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 50px;
  z-index: 5;
  padding: 0 20px;
}

.baseElement {
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.children {
  composes: baseElement;
  flex: 1;
  justify-content: flex-end;
}

.logo {
  composes: baseElement;
  cursor: pointer;
}

.icon {
  display: inline-block;
}

.title {
  margin-left: 6px;
}
