:root {
  --nav-width: 300px;
}

.comicNav {
	position: fixed;
  overflow: scroll;
  width: var(--nav-width);
	height: 100%;
  top: 0;
	right: calc(0px - var(--nav-width));
  z-index: 5;
	background-color: #fafafa;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
}

.comicNav.open {
  right: 0;
  transition: all .3s ease-in-out;
}

.cover {
  text-align: center;
  margin: 65px 0 15px 0;
}

.img {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.overview {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.about {
  height: 60px;
}

.brief {
  margin: 12px 34px;
}

.hr {
  height: 1px;
  border: none;
  background-color: #e0e0e0;
}

.episodes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
