:root {
  --main-color: #c6cacd;
  --main-bg-color: #142638;
  --body-bg-color: #1c1f2b;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue";
}

body {
  background-color: var(--body-bg-color);
  margin: 0;
  font-size: 13px;
}

:global(.loading-spinner) {
  background-image: url(./assets/loading-spinner.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
