:root {
  --main-color: #dbdbdb;
  --main-bg-color: #142638;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue";
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}
